
/*
     FILE ARCHIVED ON 03:56:35 Jan 05, 2007 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 12:11:23 Apr 05, 2026.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  captures_list: 0.507
  exclusion.robots: 0.019
  exclusion.robots.policy: 0.008
  esindex: 0.01
  cdx.remote: 25.947
  LoadShardBlock: 189.764 (3)
  PetaboxLoader3.resolve: 13.576
  PetaboxLoader3.datanode: 165.492 (4)
  load_resource: 57.836
*/